*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (min-width:1440px) and (max-width:2400px) {
    

body{
    background-color: rgb(138, 135, 135);
    height: 1500px;
}
header{
    width: 100vw;
    position: fixed;
    display: flex;
    height:70px;
    background-color: rgba(34, 94, 122, 0.89);
    }
    #logoSite{
    display: flex;
    margin-left: 10%;
    
    }
    #icone-menu{
        display: none;
    }
#icone-do-menu{
    display: none;
}
input{
    display: none;
}
nav{
    margin-left: 10%;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 550px;

    }
    .links-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        column-gap: 10px;

        }
        .links{
        display: flex;
        align-items:center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: bolder;
        }
        .links:hover{
            background-color: rgb(23, 119, 114);
            border-radius: 20px;
            box-shadow: 0px 0px 4px rgb(27, 9, 51);
            transform:translateY(2px);
            transition: 0.7s;
            }
            a{
                text-decoration: none;
                color: rgb(201, 240, 240); 
                padding: 9px               
            }
            #quemSomos{
                order:1;
            }
            #agendamentos{
                order:-1;
            }
            .icones{
                height: 20px;
                width: 30px;
                margin-right: 5px;
            }
#nav-redes-sociais{
    width: 250px;
    margin-left: 25%;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
    }
        .sizeIcons{
            height: 25px;
            width: 25px;
        }
#nav-outheader{
    display: none;
}
}  