*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (min-width:900px) and (max-width:1380px) {
    

body{
    background-color: rgb(255, 255, 255);
    height: 2500px;
}
header{
    width: 98.7vw;
    position: sticky;
    top: 0px;
    height:70px;
    z-index: 2;
    background-color: rgb(37, 101, 130);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.53);
    }
    #logoSite{
    display: flex;
    margin-left: 10%;
    }
    #icone-menu{
    display: none;
    }
#icone-do-menu{
    display: none;
}
input{
    display: none;
}
nav{
    margin-left: 10%;
    display: flex;
    justify-content:center;
    align-items:center;
    }
    .links-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        column-gap: 10px;
        width: 500px;
        }
        .links{
        display: flex;
        align-items:center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: bolder;
        }
        .links:hover{
            background-color: rgb(23, 119, 114);
            border-radius: 20px;
            box-shadow: 0px 0px 4px rgb(27, 9, 51);
            transition: 0.7s;
            }
            a{
                text-decoration: none;
                color: rgb(201, 240, 240); 
                padding: 9px               
            }
            #quemSomos{
                order:1;
            }
            #agendamentos{
                order:-1;
            }
            .icones{
                height: 25px;
                width: 30px;
                margin-right: 5px;
            }
#nav-redes-sociais{
   width: 150px;
    margin-left: 15%;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    }
        .sizeIcons{
            height: 25px;
            width: 25px;
        }
#nav-outheader{
    display: none;
}
main{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    width: 900px;
    height: 2200px;
    
    }
    .mainContainerPrincipal{
    display: flex;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    height: 400px;
    margin-top: 70px;
    }
        .conteudoPrincipal{
        width: 350px;
        height: 175px;
        background-color: brown;
        }   
        
        p{
            background-color: transparent;
        }
}  