@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
header{
    position: relative;
    background-color: rgb(99, 247, 94);
    height: 180px;
}
.logoWhats{
    position: absolute;
    height: 140px;
    top: 2vh;
    left: 7vw;
    transform: translate(-7%, -2%);
}


.botao{
    width: 40px;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-90%, -50%);
}


h1{
    position: absolute;
    left:50vw;
    top:1vh;
    transform: translate(-50%, -6%);
}
.navbarindor{
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .navhome, .navagenda, .navfaleconosco{
        text-decoration: none;
        padding: 5px;
        margin-right: 5px;
        color: rgb(16, 49, 12);
        font: 18pt bold arial;
    }
    .navhome:hover, .navagenda:hover, .navfaleconosco:hover{
        background-color: rgb(141, 201, 30);
        padding: 8px;
        color: aliceblue;
        border-radius: 15px;
        box-sizing: border-box;
    }
   
    .navhomeoutdor:hover, .navagendaoutdor:hover, .navfaleconoscooutdor:hover{
        background-color: rgb(141, 201, 30);
        padding: 8px;
        color: aliceblue;
        border-radius: 15px;
        box-sizing: border-box;
    }



    main{
        position: relative;
    }
    h1{
        position: relative;
    }


    @media screen and (min-width:630px){
        .botao{
            display: none;
        }
    }
    @media screen and (min-width:631px){
        .navbar{    
        display: block;
        }
    }
   
    
        
    